.process-instance-item {
    margin-bottom: 2rem;

    border-radius: 3px;
    border: 1px solid black;
    
    padding-bottom: 1rem;

    &__title {
        padding: 1rem 2rem;
    }

    &__info {
        margin-bottom: 1rem;
    }

    &__params {
        border-top: 1px solid black;
        padding: 0.5rem 2rem;
    }

    &__label {
        margin-right: 2rem;
    }
}
.process-instance-headline {
    &__text {
        width: 80%;
    }

    &__name {
        font-size: 1.5rem;
    }

    &__code {
        font-size: 1.2rem;
    }
}

.process-instance-title {
    padding: 0.5rem 2rem;
    &__headline {
        display: flex;
    }
}

.process-instance-info__entry {
    padding-left: 1.5rem;

    &__label {
        margin-left: 2rem;
    }

    &__value {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

.process-instance-item__last-step {
    border-top: 1px solid black;
    padding-top: 0.5rem;
    padding-left: 1.5rem;
}

.process-instance-last-step {
    &__label {
        padding-left: 0.5rem;
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }
}
