<div class="task-instance-item">
    <div class="task-instance-title">
        <div class="task-instance-title__headline">
            <div class="task-instance-headline__text">
                <div class="task-instance-headline__code">
                    <span class="task-item__label">Code </span><span class="task-code">{{ taskInstance?.code }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="task-instance-item__info">
        <div class="task-instance-info__entry">
            <span class="task-instance-info-entry__label">Status </span>
            <span class="task-instance-info-entry__value">{{ taskInstance?.status }}</span>
        </div>
        <div class="task-instance-info__entry">
            <span class="task-instance-info-entry__label">Start Date </span>
            <span class="task-instance-info-entry__value">{{ taskInstance?.startDate }}</span>
        </div>
        <div class="task-instance-info__entry">
            <span class="task-instance-info-entry__label">Finish Date </span>
            <span class="task-instance-info-entry__value">{{ taskInstance?.finishDate }}</span>
        </div>
    </div>
</div>