.task-instance-item {
    margin-bottom: 2rem;

    border-radius: 3px;
    border: 1px solid black;

    &__title {
        padding: 1rem 2rem;
    }

    &__params {
        border-top: 1px solid black;
        padding: 0.5rem 2rem;
    }

    &__label {
        margin-right: 2rem;
    }
}
.task-instance-headline {
    &__text {
        width: 80%;
    }

    &__name {
        font-size: 1.5rem;
    }

    &__code {
        font-size: 1.2rem;
    }
}

.task-instance-title {
    padding: 0.5rem 2rem;
    &__headline {
        display: flex;
    }
}

.task-instance-info__entry {
    padding-top: 2rem;

    &__label {
        margin-left: 2rem;
    }

    &__value {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}
